.vs/
.vscode/

# ignore all under build
/build/**

# allow only the needed path
!/build/
!/build/x64/
!/build/x64/Debug/
!/build/x64/Debug/cv_captures.addon

*.vcxproj.user
*.pyc
*.7z
*.ply
*.pcd
python_threedee\analyze_depth.py
python_test
reshade-shaders/
__pycache__/

nul

# 忽略 reshade-shaders 下的所有内容
/reshade-shaders/*

# 但允许进入 Shaders 目录（否则无法包含里面的指定文件）
!/reshade-shaders/Shaders/

# Shaders 里也先全忽略
/reshade-shaders/Shaders/*

# 最后只放行这一份文件
!/reshade-shaders/Shaders/GcvDepthExport.fx

# merge from upstream/tbm
IGCSConnector/IgcsConnector/
IGCSConnector/x64/
python_threedee/6/
IgcsConnector-100/
IgcsConnector-200/
IgcsConnector-210/
IgcsConnector-211/
IgcsConnector-220/
gcv_games/DragonAge.cpp
gcv_games/DragonAge.h